

.main-Div{
  width: 500px;
  height: 500px;
  background-color: beige;
  margin: auto;
}
p{
  background-color: aqua;
  text-align: center;
  padding: 50px;
  width: auto;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
}
h3{
  background-color: rgb(108, 111, 111);
  text-align: center;
  margin: auto;
  width: 100px;
}

input{
  display: inline-block;
  margin: 10px;
  width: 200px;
  height: 20px;
}
button{
  background-color: gray;
  width: 90px;
  height: 30px;
  border-radius: 5px;
}