/* #root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.main-container {
  width: 100vw;
  height: 300px;
  margin-top: 30px;
  display: flex;

  flex-direction: row;
  justify-content: center;
}

input {
  width: 300px;
  height: 40px;
  display: inline-block;
  border-radius: 5px;
  border: 2px solid blue;
  margin-top: 50px;
  padding: 5px; 
}
*/

.button-copy{
  width: 130px;
  height: 40px;
  background-color: rgb(61, 154, 198);
  margin: 10px;
  border:1px solid bisque;
  border-radius: 5px;
  color: black;

}


.button-copy:hover{
  background-color: rgb(5, 83, 171);


}